/* Reset some default styles */
body, h1, p, label, input, button {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Responsive design for small screens */
  @media screen and (max-width: 600px) {
    input {
      width: calc(100% - 16px);
    }
  }
  
  /* Add more styles as needed */
  