body {
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#Contenedor {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#encabezado {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #007bff; /* Azul brillante */
}

#seccion {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #28a745; /* Verde */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838; /* Verde oscuro al pasar el mouse */
}

#pie-de-pagina {
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 5px 0;
    color: #888;
}